<p>This is the default markup for component Account</p>

<form data-request="onRegisterProfile">
  <div class="form-group">
    <label for="inputName">Label</label>
    <input type="text" name="name" class="form-control" id="inputName">
  </div>

  <div class="form-group">
      <label for="registerEmail">Email</label>
      <input name="email" type="email" class="form-control" id="registerEmail" placeholder="Enter your email" />
  </div>

  <div class="form-group">
      <label for="registerPassword">Password</label>
      <input name="password" type="password" class="form-control" id="registerPassword" placeholder="Choose a password" />
  </div>

  <div class="form-group">
    <label for="inputFirstname">First Name</label>
    <input type="text" name="first_name" class="form-control" id="inputFirstname">
  </div>

  <div class="form-group">
    <label for="inputLastname">Last Name</label>
    <input type="text" name="last_name" class="form-control" id="inputLastname">
  </div>

  <div class="form-group">
    <label for="inputStreet">Street</label>
    <input type="text" name="street" class="form-control" id="inputStreet">
  </div>

  <div class="form-group">
    <label for="inputPostcode">Postcode</label>
    <input type="text" name="postcode" class="form-control" id="inputPostcode">
  </div>

  <div class="form-group">
    <label for="inputCity">City</label>
    <input type="text" name="city" class="form-control" id="inputCity">
  </div>

  <div class="form-group">
    <label for="inputCountry">Country</label>
    <input type="text" name="country" class="form-control" id="inputCountry">
  </div>

  <button type="submit" class="btn btn-primary">Send</button> 
</form>
