{% if not user %}

    <div class="row">

        {% if template == "signin" %}

	  <div class="col-md-6">
	      <h3>{{ texts['action.sign_in'] }}</h3>
	      {% partial __SELF__ ~ '::signin' %}
	      <br />
	      <a href="{{ "#{url('/')}/register" }}">{{ texts['action.not_registered_yet'] }}</a>
	      <br />
              <a href="{{ "#{url('/')}/forgotten-password" }}">{{ texts['action.forgotten_password'] }}</a>
	  </div>

        {% elseif template == "register" %}

	  <div class="col">
	      {% partial __SELF__ ~ '::register' %}
	      <br />
	      <a href="{{ "#{url('/')}/signin" }}">{{ texts['action.already_registered'] }}</a>
	  </div>

        {% else %}

	  <div class="col-md-6">
	      <h3>Sign in</h3>
	      {% partial __SELF__ ~ '::signin' %}
	  </div>

	  <div class="col-md-6">
	      {% partial __SELF__ ~ '::register' %}
	  </div>

        {% endif %}

    </div>

{% else %}

    {% partial __SELF__ ~ '::activation_check' %}

    {% partial __SELF__ ~ '::update' %}

  {# {% partial __SELF__ ~ '::deactivate_link' %} #}

{% endif %}
