{% if canRegister %}

    {% put scripts %}
	<link rel="stylesheet" href="plugins/codalia/profile/assets/css/profile.css">
    {% endput %}

    <h3>Register</h3>

    {{ form_ajax('onRegister', {files: 1, flash: '', 'data-request-error': '$.fn.setTabs(jqXHR);'}) }}

	<ul class="nav nav-tabs" id="myTab" role="tablist">
	    <li class="nav-item waves-effect waves-light">
		<a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Details</a>
	    </li>
	    <li class="nav-item waves-effect waves-light">
		<a class="nav-link" id="licences-tab" data-toggle="tab" href="#licences" role="tab" aria-controls="licences" aria-selected="true">Licences</a>
	    </li>
	    <li class="nav-item waves-effect waves-light">
		<a class="nav-link" id="photo-tab" data-toggle="tab" href="#photo" role="tab" aria-controls="photo" aria-selected="true">Photo</a>
	    </li>
	    {% if guestPartial == 'membership' %}
		<li class="nav-item waves-effect waves-light">
		    <a class="nav-link" id="membership-tab" data-toggle="tab" href="#membership" role="tab" aria-controls="membership" aria-selected="true">Professional status</a>
		</li>
	    {% elseif guestPartial == 'training' %}
		<li class="nav-item waves-effect waves-light">
		    <a class="nav-link" id="training-tab" data-toggle="tab" href="#training" role="tab" aria-controls="training" aria-selected="true">Training</a>
		</li>
	    {% endif %}
	</ul>

	<div class="tab-content mt-3" id="myTabContent">
	    <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">

		<div class="row">
		    <div class="form-group col-sm-6">
			<label for="inputCivility">{{ texts['profile.civility'] }}</label>
			<select name="profile[civility]" class="form-control" id="inputCivility">
			    <option value="">{{ texts['action.select'] }}</option>
			    <option value="mr">{{ texts['profile.mr'] }}</option>
			    <option value="mrs">{{ texts['profile.mrs'] }}</option>
			</select>
		    </div>
		</div>

		<div class="row">
		    <div class="form-group col-sm-6">
			<label for="inputLastName">{{ texts['profile.last_name'] }}</label>
			<input type="text" name="profile[last_name]" class="form-control" id="inputLastName">
		    </div>

		    <div class="form-group col-sm-6">
			<label for="inputFirstName">{{ texts['profile.first_name'] }}</label>
			<input type="text" name="profile[first_name]" class="form-control" id="inputFirstName">
		    </div>
		</div>

		<div class="row">
		    <div class="form-group col-sm-6">
			<label for="inputBirthName">{{ texts['profile.birth_name'] }}</label>
			<input type="text" name="profile[birth_name]" class="form-control" id="inputBirthName">
		    </div>

		    <div class="form-group col-sm-6">
			<label>{{ texts['profile.birth_date'] }}</label>
			<div class="input-group">
			    <input type="text" class="form-control date-picker" id="dp_birth-date" autocomplete="off" aria-describedby="basic-addon1">
			    <div class="input-group-append">
				<span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
			    </div>
			</div>
			<input type="hidden" name="profile[birth_date]" id="birth-date" value="">
		    </div>
		</div>

		{% if guestPartial == 'membership' %}
		    <div class="row">
			<div class="form-group col-sm-6">
			    <label for="inputBirthLocation">{{ texts['profile.birth_location'] }}</label>
			    <input type="text" name="profile[birth_location]" class="form-control" id="inputBirthLocation">
			</div>

			<div class="form-group col-sm-6">
			    <label for="inputCitizenship">{{ texts['profile.citizenship'] }}</label>
			    <select name="profile[citizenship]" class="form-control" id="inputCitizenship">
				<option value="">{{ texts['action.select'] }}</option>
				{% for alpha_2, text in citizenships %}
				    <option value="{{ alpha_2 }}">{{ text }}</option>
				{% endfor %}
			    </select>
			</div>
		    </div>
		{% endif %}

		{% if loginAttribute == "username" %}
		    <div class="form-group">
			<label for="registerUsername">Username</label>
			<input
			    name="username"
			    type="text"
			    class="form-control"
			    id="registerUsername"
			    placeholder="Enter your username" />
		    </div>
		{% endif %}

		<div class="row">
		    <div class="form-group col-sm-6">
			<label for="registerEmail">{{ texts['profile.email'] }}</label>
			<input name="email" type="text" class="form-control" id="registerEmail" placeholder="Enter your email" />
		    </div>
		</div>

		<div class="row">
		    <div class="form-group col-sm-6">
			<label for="registerPassword">{{ texts['profile.password'] }}</label>
			<input name="password" type="password" class="form-control" id="registerPassword" placeholder="Choose a password" />
		    </div>

		    <div class="form-group col-sm-6">
			<label for="accountPasswordConfirm">{{ texts['profile.password_confirmation'] }}</label>
			<input name="password_confirmation" type="password" class="form-control" id="accountPasswordConfirm">
		    </div>
		</div>

		<div class="row">
		    <div class="col-sm-6">
			<div class="form-group">
			    <label for="inputStreet">{{ texts['profile.street'] }}</label>
			    <input type="text" name="profile[street]" class="form-control" id="inputStreet">
			</div>
		    </div>

		    <div class="col-sm-6">
			<div class="form-group">
			    <label for="inputPostcode">{{ texts['profile.postcode'] }}</label>
			    <input type="text" name="profile[postcode]" class="form-control" id="inputPostcode">
			</div>
		    </div>
		</div>

		<div class="row">
		    <div class="col-sm-6">
			<div class="form-group">
			    <label for="inputCity">{{ texts['profile.city'] }}</label>
			    <input type="text" name="profile[city]" class="form-control" id="inputCity">
			</div>
		    </div>

		    <div class="col-sm-6">
			<div class="form-group">
			    <label for="inputPhone">{{ texts['profile.phone'] }}</label>
			    <input type="text" name="profile[phone]" class="form-control" id="inputPhone">
			</div>
		    </div>
		</div>

		{% if guestPartial == 'membership' %}
		    <div class="row">
			<div class="form-group checkbox custom-checkbox col-sm-6">
			    <p><small>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
			       Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</small></p>
			    <label for="honorary-member" class="mr-2">{{ texts['profile.honorary_member'] }}</label>
			    <input type="checkbox" name="profile[honorary_member]" class="" value="1" id="honorary-member" />
			</div>
		    </div>
		{% endif %}

		<div class="row" id="details-navigation">
		    <div class="col-sm-12">
			<a class="btn btn-secondary float-right" id="licences-tab" data-toggle="tab" href="#licences" role="tab" onclick="$('#myTab a[href=&quot;#licences&quot;]').tab('show');"
			   aria-controls="licences" aria-selected="true">{{ texts['action.next'] }}</a>
		    </div>
		</div>
	    </div>

	    <div class="tab-pane fade" id="licences" role="tabpanel" aria-labelledby="licences-tab">
		{% partial '@licences/register' %}
	    </div>

	    <div class="tab-pane fade" id="photo" role="tabpanel" aria-labelledby="photo-tab">

		<div class="row">
		    <div class="col-sm-6 mb-5">
			<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
			<input type="file" name="photo" class="form-control" id="inputPhoto">
		    </div>
		</div>

		<div class="row" id="photo-navigation">
		    <div class="col-sm-12">
			<a class="btn btn-secondary float-left" id="licences-tab" data-toggle="tab" href="#licences" role="tab"
			   onclick="$('#myTab a[href=&quot;#licences&quot;]').tab('show');" aria-controls="licences" aria-selected="true">{{ texts['action.previous'] }}</a>

			<a class="btn btn-secondary float-right" id="{{ guestPartial }}-tab" data-toggle="tab" href="#{{ guestPartial }}"
			   role="tab" onclick="$('#myTab a[href=&quot;#{{ guestPartial }}&quot;]').tab('show');" aria-controls="{{ guestPartial }}" aria-selected="true">{{ texts['action.next'] }}</a>
		    </div>
		</div>
	    </div>

	    <input name="name" type="hidden" id="registerName" />
	    <input type="hidden" id="locale" value="{{ locale }}" />

	    {% if guestPartial %}
		{% set pluginPartial = '@' ~  guestPartial %}

		{% if partial(pluginPartial) %}
		    <div class="tab-pane fade" id="{{ guestPartial }}" role="tabpanel" aria-labelledby="{{ guestPartial }}-tab">
			{% partial pluginPartial %}

			<div class="row mt-5">
			    <div class="col-sm-12">
				<a class="btn btn-secondary" id="photo-tab" data-toggle="tab" href="#photo" role="tab"
				   onclick="$('#myTab a[href=&quot;#photo&quot;]').tab('show');" aria-controls="photo" aria-selected="true">{{ texts['action.previous'] }}</a>
			    </div>
			</div>
		    </div>
		{% endif %}
	    {% endif %}
	</div>

	<button type="submit" class="btn btn-success mt-5">{{ texts['action.register'] }}</button>

    {{ form_close() }}
{% else %}
    <!-- Registration is disabled. -->
{% endif %}
