{% if canRegister %}

    {% put scripts %}
	<link rel="stylesheet" href="plugins/codalia/profile/assets/css/profile.css">
    {% endput %}

    <h3>Register</h3>
    {{ form_ajax('onRegister', {files: 1, flash: '', 'data-request-error': '$.fn.setTabs(jqXHR);'}) }}

	<ul class="nav nav-tabs" id="myTab" role="tablist">
	    <li class="nav-item waves-effect waves-light">
		<a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Details</a>
	    </li>
	    <li class="nav-item waves-effect waves-light">
		<a class="nav-link" id="licences-tab" data-toggle="tab" href="#licences" role="tab" aria-controls="licences" aria-selected="true">Licences</a>
	    </li>
	    <li class="nav-item waves-effect waves-light">
		<a class="nav-link" id="photo-tab" data-toggle="tab" href="#photo" role="tab" aria-controls="photo" aria-selected="true">Photo</a>
	    </li>
	    <li class="nav-item waves-effect waves-light">
		<a class="nav-link" id="membership-tab" data-toggle="tab" href="#membership" role="tab" aria-controls="membership" aria-selected="true">Professional status</a>
	    </li>
	</ul>

	<div class="tab-content mt-3" id="myTabContent">
	    <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">

		<div class="row">
		    <div class="form-group col-sm-6">
			<label for="inputCivility">Civility</label>
			<select name="profile[civility]" class="form-control" id="inputCivility">
			    <option value="">- Select -</option>
			    <option value="mr">Mr</option>
			    <option value="mrs">Mrs</option>
			</select>
		    </div>
		</div>

		<div class="row">
		    <div class="form-group col-sm-6">
			<label for="inputLastName">Last Name</label>
			<input type="text" name="profile[last_name]" class="form-control" id="inputLastName">
		    </div>

		    <div class="form-group col-sm-6">
			<label for="inputFirstName">First Name</label>
			<input type="text" name="profile[first_name]" class="form-control" id="inputFirstName">
		    </div>
		</div>

		<div class="row">
		    <div class="form-group col-sm-6">
			<label for="inputBirthName">Birth Name</label>
			<input type="text" name="profile[birth_name]" class="form-control" id="inputBirthName">
		    </div>

		    <div class="form-group col-sm-6">
			<label>Birth Date</label>
			<div class="input-group">
			    <input type="text" class="form-control date-picker" id="dp_birth-date" autocomplete="off" aria-describedby="basic-addon1">
			    <div class="input-group-append">
				<span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
			    </div>
			</div>
			<input type="hidden" name="profile[birth_date]" id="birth-date" value="">
		    </div>
		</div>

		<div class="row">
		    <div class="form-group col-sm-6">
			<label for="inputBirthLocation">Birth Location</label>
			<input type="text" name="profile[birth_location]" class="form-control" id="inputBirthLocation">
		    </div>

		    <div class="form-group col-sm-6">
			<label for="inputCitizenship">Citizenship</label>
			<select name="profile[citizenship]" class="form-control" id="inputCitizenship">
			    <option value="">- Select -</option>
			    {% for alpha_2, text in citizenships %}
				<option value="{{ alpha_2 }}">{{ text }}</option>
			    {% endfor %}
			</select>
		    </div>
		</div>

		{% if loginAttribute == "username" %}
		    <div class="form-group">
			<label for="registerUsername">Username</label>
			<input
			    name="username"
			    type="text"
			    class="form-control"
			    id="registerUsername"
			    placeholder="Enter your username" />
		    </div>
		{% endif %}

		<div class="row">
		    <div class="col-sm-6">
			<div class="form-group">
			    <label for="registerEmail">Email</label>
			    <input name="email" type="text" class="form-control" id="registerEmail" placeholder="Enter your email" />
			</div>
		    </div>

		    <div class="col-sm-6">
			<div class="form-group">
			    <label for="registerPassword">Password</label>
			    <input name="password" type="password" class="form-control" id="registerPassword" placeholder="Choose a password" />
			</div>
		    </div>
		</div>

		<div class="row">
		    <div class="col-sm-6">
			<div class="form-group">
			    <label for="inputStreet">Street</label>
			    <input type="text" name="profile[street]" class="form-control" id="inputStreet">
			</div>
		    </div>

		    <div class="col-sm-6">
			<div class="form-group">
			    <label for="inputPostcode">Postcode</label>
			    <input type="text" name="profile[postcode]" class="form-control" id="inputPostcode">
			</div>
		    </div>
		</div>

		<div class="row">
		    <div class="col-sm-6">
			<div class="form-group">
			    <label for="inputCity">City</label>
			    <input type="text" name="profile[city]" class="form-control" id="inputCity">
			</div>
		    </div>

		    <div class="col-sm-6">
			<div class="form-group">
			    <label for="inputPhone">Phone</label>
			    <input type="text" name="profile[phone]" class="form-control" id="inputPhone">
			</div>
		    </div>
		</div>

		<div class="row">
		    <div class="form-group checkbox custom-checkbox col-sm-6">
			<p><small>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
			   Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</small></p>
			<label for="honorary-member" class="mr-2">Honorary member</label>
			<input type="checkbox" name="profile[honorary_member]" class="" value="1" id="honorary-member" />
		    </div>
		</div>

		<div class="row" id="details-navigation">
		    <div class="col-sm-12">
			<a class="btn btn-secondary float-right" id="licences-tab" data-toggle="tab" href="#licences" role="tab" onclick="$('#myTab a[href=&quot;#licences&quot;]').tab('show');"
			   aria-controls="licences" aria-selected="true">Next >></a>
		    </div>
		</div>
	    </div>

	    <div class="tab-pane fade" id="licences" role="tabpanel" aria-labelledby="licences-tab">
		{% partial '@licences/register' %}
	    </div>

	    <div class="tab-pane fade" id="photo" role="tabpanel" aria-labelledby="photo-tab">

		<div class="row">
		    <div class="col-sm-6 mb-5">
			<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
			<input type="file" name="photo" class="form-control" id="inputPhoto">
		    </div>
		</div>

		<div class="row" id="photo-navigation">
		    <div class="col-sm-12">
			<a class="btn btn-secondary float-left" id="licences-tab" data-toggle="tab" href="#licences" role="tab"
			   onclick="$('#myTab a[href=&quot;#licences&quot;]').tab('show');" aria-controls="licences" aria-selected="true">Previous</a>

			<a class="btn btn-secondary float-right" id="{{ hostedPartial }}-tab" data-toggle="tab" href="#{{ hostedPartial }}"
			   role="tab" onclick="$('#myTab a[href=&quot;#{{ hostedPartial }}&quot;]').tab('show');" aria-controls="{{ hostedPartial }}" aria-selected="true">Next >></a>
		    </div>
		</div>
	    </div>

	    <input name="name" type="hidden" id="registerName" />
	    <input type="hidden" id="locale" value="{{ locale }}" />

	    {% if hostedPartial %}
		{% set pluginPartial = '@' ~  hostedPartial %}

		{% if partial(pluginPartial) %}
		    <div class="tab-pane fade" id="{{ hostedPartial }}" role="tabpanel" aria-labelledby="{{ hostedPartial }}-tab">
			{% partial pluginPartial %}

			<div class="row mt-5">
			    <div class="col-sm-12">
				<a class="btn btn-secondary" id="photo-tab" data-toggle="tab" href="#photo" role="tab"
				   onclick="$('#myTab a[href=&quot;#photo&quot;]').tab('show');" aria-controls="photo" aria-selected="true">Previous</a>
			    </div>
			</div>
		    </div>
		{% endif %}
	    {% endif %}
	</div>

	<button type="submit" class="btn btn-success mt-5">Register</button>

    {{ form_close() }}
{% else %}
    <!-- Registration is disabled. -->
{% endif %}
