{% if canRegister %}
    <h3>Register</h3>

    {{ form_ajax('onRegister', {files: 1, flash: ''}) }}

	{{ form_token() }}
	{{ form_sessionKey }}

	<div class="row">
	    <div class="col">
		<div class="row">
		    <div class="col-sm-6">
			<div class="form-group">
			  <label for="inputLastName">Last Name</label>
			  <input type="text" name="last_name" class="form-control" id="inputLastName">
			</div>
		    </div>

		    <div class="col-sm-6">
			<div class="form-group">
			  <label for="inputFirstName">First Name</label>
			  <input type="text" name="first_name" class="form-control" id="inputFirstName">
			</div>
		    </div>
		</div>

		<div class="form-group">
		  <label for="inputBirthName">Birth Name</label>
		  <input type="text" name="birth_name" class="form-control" id="inputBirthName">
		</div>

		<div class="form-group">
		  <label for="birth-datepiker">Birth Date</label>
		    <div class="input-group">
		      <input type="text" class="form-control col-md-6" id="birth-datepicker" autocomplete="off" aria-describedby="basic-addon1">
		      <div class="input-group-append">
			<span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
		      </div>
		    </div>
		  <input type="hidden" name="birth_date" id="birth-date" value="">
		</div>

		{% if loginAttribute == "username" %}
		    <div class="form-group">
			<label for="registerUsername">Username</label>
			<input
			    name="username"
			    type="text"
			    class="form-control"
			    id="registerUsername"
			    placeholder="Enter your username" />
		    </div>
		{% endif %}

		<div class="row">
		    <div class="col-sm-6">
			<div class="form-group">
			    <label for="registerEmail">Email</label>
			    <input name="email" type="email" class="form-control" id="registerEmail" placeholder="Enter your email" />
			</div>
		    </div>

		    <div class="col-sm-6">
			<div class="form-group">
			    <label for="registerPassword">Password</label>
			    <input name="password" type="password" class="form-control" id="registerPassword" placeholder="Choose a password" />
			</div>
		    </div>
		</div>

		<div class="form-group">
		  <label for="inputStreet">Street</label>
		  <input type="text" name="street" class="form-control" id="inputStreet">
		</div>

		<div class="row">
		    <div class="col-sm-6">
			<div class="form-group">
			  <label for="inputPostcode">Postcode</label>
			  <input type="text" name="postcode" class="form-control" id="inputPostcode">
			</div>
		    </div>

		    <div class="col-sm-6">
			<div class="form-group">
			  <label for="inputCity">City</label>
			  <input type="text" name="city" class="form-control" id="inputCity">
			</div>
		    </div>
		</div>

		<div class="form-group">
		  <label for="inputPhone">Phone</label>
		  <input type="text" name="phone" class="form-control" id="inputPhone">
		</div>

		<input name="name" type="hidden" id="registerName" />
		<input type="hidden" id="locale" value="{{ locale }}" />

		<button type="submit" class="btn btn-success">Register</button>
	    </div>

	    <div class="col">
		{% if sharedPartial %}
		    {% set pluginPartial = '@' ~  sharedPartial %}

		    {% if partial(pluginPartial) %}
		      {% partial pluginPartial %}
		    {% endif %}
		{% endif %}
	    </div>

	</div>

    {{ form_close() }}
{% else %}
    <!-- Registration is disabled. -->
{% endif %}
