<h4>Profile</h4>

{{ form_ajax('onUpdate') }}

    {{ form_token() }}
    {{ form_sessionKey }}

    <div class="form-group">
      <label for="inputFirstname">First Name</label>
      <input type="text" name="first_name" class="form-control col-md-6" id="inputFirstname" value="{{ user.profile.first_name }}">
    </div>

    <div class="form-group">
      <label for="inputLastname">Last Name</label>
      <input type="text" name="last_name" class="form-control col-md-6" id="inputLastname" value="{{ user.profile.last_name }}">
    </div>

    <div class="form-group">
        <label for="accountEmail">Email</label>
        <input name="email" type="email" class="form-control col-md-6" disabled="disabled" id="accountEmail" value="{{ user.email }}">
    </div>

    <div class="form-group">
        <label for="accountPassword">New Password</label>
        <input name="password" type="password" class="form-control col-md-6" id="accountPassword">
    </div>

    <div class="form-group">
        <label for="accountPasswordConfirm">Confirm New Password</label>
        <input name="password_confirmation" type="password" class="form-control col-md-6" id="accountPasswordConfirm">
    </div>

    {% if updateRequiresPassword %}
        <p>To change these details, please confirm your current password.</p>
        <div class="form-group">
            <label for="accountPasswordCurrent">Current Password <small class="text-danger">* required</small></label>
            <input name="password_current" type="password" class="form-control col-md-6" id="accountPasswordCurrent">
        </div>
    {% endif %}

    <div class="form-group">
      <label for="birth-datepiker">Birth Date</label>
	<div class="input-group">
	  <input type="text" class="form-control col-md-6" id="birth-datepicker" autocomplete="off" aria-describedby="basic-addon1">
	  <div class="input-group-append">
	    <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
	  </div>
	</div>
      <input type="hidden" name="birth_date" id="birth-date" value="{{ user.profile.birth_date }}">
    </div>

    <div class="form-group">
      <label for="inputStreet">Street</label>
      <input type="text" name="street" class="form-control col-md-6" id="inputStreet" value="{{ user.profile.street }}">
    </div>

    <div class="form-group">
      <label for="inputPostcode">Postcode</label>
      <input type="text" name="postcode" class="form-control col-md-6" id="inputPostcode" value="{{ user.profile.postcode }}">
    </div>

    <div class="form-group">
      <label for="inputCity">City</label>
      <input type="text" name="city" class="form-control col-md-6" id="inputCity" value="{{ user.profile.city }}">
    </div>

    <input name="name" type="hidden" id="accountName" value="{{ user.name }}">
    <input type="hidden" id="locale" value="{{ locale }}" />

    <button type="submit" class="btn btn-success">Save</button>

{{ form_close() }}
