{% put scripts %}
    <link rel="stylesheet" href="plugins/codalia/profile/assets/css/profile.css">
{% endput %}

<h4>Profile</h4>

{{ form_ajax('onUpdate', {files: 1, flash: ''}) }}

<div class="row">
    <div class="col col-md-6">
	<div class="form-group">
	    <label for="inputCivility">Civility</label>
	    <select name="profile[civility]" class="form-control" id="inputCivility">
	        <option value="">- Select -</option>
	        <option value="mr" {{ (profile.civility == 'mr') ? 'selected' : '' }}>Mr</option>
	        <option value="mrs" {{ (profile.civility == 'mrs') ? 'selected' : '' }}>Mrs</option>
	    </select>
	</div>

	<div class="row">
	    <div class="form-group col-md-6">
	      <label for="inputFirstname">First Name</label>
	      <input type="text" name="profile[first_name]" class="form-control" id="inputFirstname" value="{{ profile.first_name }}">
	    </div>

	    <div class="form-group col-md-6">
	      <label for="inputLastname">Last Name</label>
	      <input type="text" name="profile[last_name]" class="form-control" id="inputLastname" value="{{ profile.last_name }}">
	    </div>
	</div>

	{% if profile.member %}
	    <div class="row">
		<div class="form-group col-md-6">
		  <label for="inputBirthName">Birth Name</label>
		  <input type="text" name="profile[birth_name]" class="form-control" id="inputBirthName" value="{{ profile.birth_name }}">
		</div>

		<div class="form-group col-md-6">
		  <label for="birth-datepiker">Birth Date</label>
		    <div class="input-group">
		      <input type="text" class="form-control date-picker" id="dp_birth-date" autocomplete="off" aria-describedby="basic-addon1">
		      <div class="input-group-append">
			<span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
		      </div>
		    </div>
		  <input type="hidden" name="profile[birth_date]" id="birth-date" value="{{ profile.birth_date }}">
		</div>
	    </div>

	    <div class="row">
		<div class="form-group col-sm-6">
		  <label for="inputBirthLocation">Birth Location</label>
		  <input type="text" name="profile[birth_location]" class="form-control" id="inputBirthLocation" value="{{ profile.birth_location }}">
		</div>

		<div class="form-group col-sm-6">
		  <label for="inputCitizenship">Citizenship</label>
		  <select name="profile[citizenship]" class="form-control" id="inputCitizenship">
		    <option value="">- Select -</option>
		    {% for alpha_2, text in citizenships %}
		      <option value="{{ alpha_2 }}" {{ (profile.citizenship == alpha_2) ? 'selected' : '' }}>{{ text }}</option>
		    {% endfor %}
		  </select>
		</div>
	    </div>
	{% endif %}


	<div class="form-group">
	    <label for="accountEmail">Email</label>
	    <input name="email" type="email" class="form-control col-md-6" disabled="disabled" id="accountEmail" value="{{ user.email }}">
	</div>

	<div class="form-group">
	    <label for="accountPassword">New Password</label>
	    <input name="password" type="password" class="form-control col-md-6" id="accountPassword">
	</div>

	<div class="form-group">
	    <label for="accountPasswordConfirm">Confirm New Password</label>
	    <input name="password_confirmation" type="password" class="form-control col-md-6" id="accountPasswordConfirm">
	</div>

	{% if updateRequiresPassword %}
	    <p>To change these details, please confirm your current password.</p>
	    <div class="form-group">
		<label for="accountPasswordCurrent">Current Password <small class="text-danger">* required</small></label>
		<input name="password_current" type="password" class="form-control col-md-6" id="accountPasswordCurrent">
	    </div>
	{% endif %}

	<div class="form-group">
	  <label for="inputStreet">Street</label>
	  <input type="text" name="profile[street]" class="form-control col-md-6" id="inputStreet" value="{{ profile.street }}">
	</div>

	<div class="row">
	    <div class="form-group col-md-6">
	      <label for="inputPostcode">Postcode</label>
	      <input type="text" name="profile[postcode]" class="form-control" id="inputPostcode" value="{{ profile.postcode }}">
	    </div>

	    <div class="form-group col-md-6">
	      <label for="inputCity">City</label>
	      <input type="text" name="profile[city]" class="form-control" id="inputCity" value="{{ profile.city }}">
	    </div>
	</div>

	<div class="form-group">
	  <label for="inputPhone">Phone</label>
	  <input type="text" name="profile[phone]" class="form-control" id="inputPhone" value="{{ profile.phone }}">
	</div>

	<input name="name" type="hidden" id="accountName" value="{{ user.name }}">
	<input type="hidden" id="locale" value="{{ locale }}" />

	<button type="submit" class="btn btn-success">Save</button>
    </div>

    <div class="col col-md-6">
	{% partial '@licences/update' %}
    </div>
</div>

{{ form_close() }}
