{% put scripts %}
    <link rel="stylesheet" href="plugins/codalia/profile/assets/css/profile.css">
{% endput %}

<h4>{{ texts['profile.title'] }}</h4>

{% if not user.last_seen %}
    <div class="alert alert-success" role="alert">{{ texts['message.welcome_message'] }}</div>
{% endif %}

{{ form_ajax('onUpdate', {files: 1, flash: '', 'data-request-error': '$.fn.setTabs(jqXHR);'}) }}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item waves-effect waves-light">
	<a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">{{ texts['profile.details'] }}</a>
    </li>
    {% if not profile.honorary_member %}
	<li class="nav-item waves-effect waves-light">
	    <a class="nav-link" id="licences-tab" data-toggle="tab" href="#licences" role="tab" aria-controls="licences" aria-selected="true">{{ texts['profile.licences'] }}</a>
	</li>
    {% endif %}
    <li class="nav-item waves-effect waves-light">
	<a class="nav-link" id="photo-tab" data-toggle="tab" href="#photo" role="tab" aria-controls="photo" aria-selected="true">{{ texts['profile.photo'] }}</a>
    </li>
    {% if guestPartial == 'membership' %}
	<li class="nav-item waves-effect waves-light">
	    <a class="nav-link" id="membership-tab" data-toggle="tab" href="#membership" role="tab" aria-controls="membership" aria-selected="true">Professional status</a>
	</li>
    {% elseif guestPartial == 'training' %}
	<li class="nav-item waves-effect waves-light">
	    <a class="nav-link" id="training-tab" data-toggle="tab" href="#training" role="tab" aria-controls="training" aria-selected="true">Training</a>
	</li>
    {% endif %}
</ul>


<div class="tab-content mt-3" id="myTabContent">
    <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
	<div class="row">
	    <div class="form-group col-sm-6">
		<label for="inputCivility">{{ texts['profile.civility'] }}</label>
		<select name="profile[civility]" class="form-control" id="inputCivility">
		    <option value="">{{ texts['action.select'] }}</option>
		    <option value="mr" {{ (profile.civility == 'mr') ? 'selected' : '' }}>{{ texts['profile.mr'] }}</option>
		    <option value="mrs" {{ (profile.civility == 'mrs') ? 'selected' : '' }}>{{ texts['profile.mrs'] }}</option>
		</select>
	    </div>
	</div>

	<div class="row">
	    <div class="form-group col-md-6">
		<label for="inputFirstname">{{ texts['profile.first_name'] }}</label>
		<input type="text" name="profile[first_name]" class="form-control" id="inputFirstname" value="{{ profile.first_name }}">
	    </div>

	    <div class="form-group col-md-6">
		<label for="inputLastname">{{ texts['profile.last_name'] }}</label>
		<input type="text" name="profile[last_name]" class="form-control" id="inputLastname" value="{{ profile.last_name }}">
	    </div>
	</div>

	{% if profile.member or guestPartial == 'membership' %}
	    <div class="row">
		<div class="form-group col-md-6">
		    <label for="inputBirthName">{{ texts['profile.birth_name'] }}</label>
		    <input type="text" name="profile[birth_name]" class="form-control" id="inputBirthName" value="{{ profile.birth_name }}">
		</div>

		<div class="form-group col-md-6">
		    <label for="birth-datepiker">{{ texts['profile.birth_date'] }}</label>
		    <div class="input-group">
			<input type="text" class="form-control date-picker" id="dp_birth-date" autocomplete="off" aria-describedby="basic-addon1">
			<div class="input-group-append">
			    <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
			</div>
		    </div>
		    <input type="hidden" name="profile[birth_date]" id="birth-date" value="{{ profile.birth_date }}">
		</div>
	    </div>

	    <div class="row">
		<div class="form-group col-sm-6">
		    <label for="inputBirthLocation">{{ texts['profile.birth_location'] }}</label>
		    <input type="text" name="profile[birth_location]" class="form-control" id="inputBirthLocation" value="{{ profile.birth_location }}">
		</div>

		<div class="form-group col-sm-6">
		    <label for="inputCitizenship">{{ texts['profile.citizenship'] }}</label>
		    <select name="profile[citizenship]" class="form-control" id="inputCitizenship">
			<option value="">{{ texts['action.select'] }}</option>
			{% for alpha_3, text in citizenships %}
			    <option value="{{ alpha_3 }}" {{ (profile.citizenship == alpha_3) ? 'selected' : '' }}>{{ text }}</option>
			{% endfor %}
		    </select>
		</div>
	    </div>
	{% endif %}


	<div class="row">
	    <div class="form-group col-sm-6">
		<label for="accountEmail">{{ texts['profile.email'] }}</label>
		<input name="email" type="email" class="form-control" id="accountEmail" value="{{ user.email }}">
	    </div>
	</div>

	<div class="row">
	    <div class="form-group col-sm-6">
		<label for="accountPassword">{{ texts['profile.new_password'] }}</label>
		<input name="password" type="password" class="form-control" id="accountPassword">
	    </div>

	    <div class="form-group col-sm-6">
		<label for="accountPasswordConfirm">{{ texts['profile.new_password_confirmation'] }}</label>
		<input name="password_confirmation" type="password" class="form-control" id="accountPasswordConfirm">
	    </div>
	</div>

	{% if updateRequiresPassword %}
	    <p>To change these details, please confirm your current password.</p>
	    <div class="form-group">
		<label for="accountPasswordCurrent">{{ texts['profile.password_current'] }}<small class="text-danger">* required</small></label>
		<input name="password_current" type="password" class="form-control col-md-6" id="accountPasswordCurrent">
	    </div>
	{% endif %}

	<div class="row">
	    <div class="form-group col-sm-6">
		<label for="inputStreet">{{ texts['profile.street'] }}</label>
		<input type="text" name="profile[street]" class="form-control" id="inputStreet" value="{{ profile.street }}">
	    </div>

	    <div class="form-group col-sm-6">
		<label for="inputAdditionalAddress">{{ texts['profile.additional_address'] }}</label>
		<input type="text" name="profile[additional_address]" class="form-control" id="inputAdditionalAddress" value="{{ profile.additional_address}}">
	    </div>

	    <div class="form-group col-sm-6">
		<label for="inputPostcode">{{ texts['profile.postcode'] }}</label>
		<input type="text" name="profile[postcode]" class="form-control" id="inputPostcode" value="{{ profile.postcode }}">
	    </div>
	</div>

	<div class="row">
	    <div class="form-group col-sm-6">
		<label for="inputCity">{{ texts['profile.city'] }}</label>
		<input type="text" name="profile[city]" class="form-control" id="inputCity" value="{{ profile.city }}">
	    </div>

	    <div class="form-group col-sm-6">
		<label for="inputPhone">{{ texts['profile.phone'] }}</label>
		<input type="text" name="profile[phone]" class="form-control" id="inputPhone" value="{{ profile.phone }}">
	    </div>
	</div>

	<input name="name" type="hidden" id="accountName" value="{{ user.name }}">
	<input type="hidden" id="locale" value="{{ locale }}" />
	<input name="task" type="hidden" id="task" value="">

    </div>

    {% if not profile.honorary_member %}
	<div class="tab-pane fade" id="licences" role="tabpanel" aria-labelledby="licences-tab">
	  {% partial '@licences/update' %}
	</div>
    {% endif %}

    <div class="tab-pane fade" id="photo" role="tabpanel" aria-labelledby="photo-tab">
	<div class="form-group col-sm-12 pt-2">
	    <div id="new-photo">
		{% if profile.photo %}	
		    <img src="{{ profile.photo.thumb(thumbSize.width, thumbSize.height, 'auto') }}" />
		{% else %}
		<img src="{{ blankProfile }}" width="{{ thumbSize.width }}" height="{{ thumbSize.height }}" />
		{% endif %}
	    </div>
	    <p class="mb-0"><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</small></p>
	    <div class="row">
		<div id="photo-upload-field" class="col-sm-8">
		    <input type="file" name="photo" class="form-control">
		</div>
		<div class="col-sm-2">
		    <button type="submit" id="replace-photo" class="btn btn-success">{{ texts['action.replace'] }}</button>
		</div>
	    </div>
	</div>
    </div>

    {% if guestPartial %}
	{% set pluginPartial = '@' ~  guestPartial %}

	{% if partial(pluginPartial) %}
	    <div class="tab-pane fade" id="{{ guestPartial }}" role="tabpanel" aria-labelledby="{{ guestPartial }}-tab">
		{% partial pluginPartial %}
	    </div>
	{% endif %}
    {% endif %}

</div>

<button type="submit" id="update-data" class="btn btn-success">{{ texts['action.save'] }}</button>

{{ form_close() }}

