
.licence-row {
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  padding-top: 1rem;
  margin-bottom: 1.5rem;
}

.attestation-row {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 1.5rem;
}


