<div class="form-group col-sm-6">
    <label for="alpha2-{{ i }}-{{ j }}-{{ k }}">{{ texts['licences.attestations'].languages.alpha_3 }} {{ k + 1 }}</label>
    <select name="licences[{{ i }}][attestations][{{ j }}][languages][{{ k }}][alpha_3]" class="form-control" id="alpha2-{{ i }}-{{ j }}-{{ k }}">
	<option value="">{{ texts['action.select'] }}</option>
	{% for value, text in languages %}
	    <option value="{{ value }}">{{ text }}</option>
	{% endfor %}
    </select>
</div>

<div class="form-group col-sm-2 mb-0 mt-4" id="language-skills-{{ i }}-{{ j }}-{{ k }}">
    <div class="row">
	<div class="form-group checkbox custom-checkbox mb-0 mr-2">
	    <label for="interpreter-{{ i }}-{{ j }}-{{ k }}" class="mr-2">{{ texts['licences.attestations'].languages.interpreter }}</label>
	    <input type="checkbox" name="licences[{{ i }}][attestations][{{ j }}][languages][{{ k }}][interpreter]" class="float-right mt-1" value="1" id="interpreter-{{ i }}-{{ j }}-{{ k }}" />
	</div>
	<div class="form-group checkbox custom-checkbox mb-0">
	  <label for="interpreter-cassation-{{ i }}-{{ j }}-{{ k }}" class="mr-2"><small>{{ texts['licences.attestations'].languages.cassation }}</small></label>
	    <input type="checkbox" name="licences[{{ i }}][attestations][{{ j }}][languages][{{ k }}][interpreter_cassation]"
		   class="float-right mt-1" value="1" disabled="disabled" id="interpreter-cassation-{{ i }}-{{ j }}-{{ k }}" />
	</div>
    </div>

    <div class="row">
	<div class="form-group checkbox custom-checkbox mb-0 mr-2">
	    <label for="translator-{{ i }}-{{ j }}-{{ k }}" class="mr-2">{{ texts['licences.attestations'].languages.translator }}</label>
	    <input type="checkbox" name="licences[{{ i }}][attestations][{{ j }}][languages][{{ k }}][translator]" class="float-right mt-1" value="1" id="translator-{{ i }}-{{ j }}-{{ k }}" />
	</div>
	<div class="form-group checkbox custom-checkbox mb-0">
	  <label for="translator-cassation-{{ i }}-{{ j }}-{{ k }}" class="mr-2"><small>{{ texts['licences.attestations'].languages.cassation }}</small></label>
	    <input type="checkbox" name="licences[{{ i }}][attestations][{{ j }}][languages][{{ k }}][translator_cassation]"
		   class="float-right mt-1" value="1" disabled="disabled" id="translator-cassation-{{ i }}-{{ j }}-{{ k }}" />
	</div>
    </div>
</div>

<input type="hidden" name="licences[{{ i }}][attestations][{{ j }}][languages][{{ k }}][_id]" value="" />

{% if k > 0 %}
    <div class="form-group col-sm-2 mt-4">
	<button type="button" data-request="onDeleteItem" data-request-success="$.fn.deleteItem(this);" 
			      data-request-data="_licence_index: {{ i }}, _attestation_index: {{ j }}, _language_index: {{ k }}, _item_type: 'language', _item_id: ''"
			      class="btn btn-danger mt-2" id="delete-language-{{ i }}-{{ j }}-{{ k }}">{{ texts['action.delete'] }}</button>
    </div>
{% else %}
    <div class="form-group col-sm-2 ml-auto mt-4 float-right">
	<button type="button" data-request-data="_licence_index: {{ i }}, _attestation_index: {{ j }}, _item_type: 'language', _item_context: 'register'" 
		data-request="onAddItem" data-request-success="$.fn.initNewItem(this)" class="btn btn-info float-right mb-3" id="add-language-{{ i }}-{{ j }}">{{ texts['action.add_language'] }}</button>
    </div>
{% endif %}


