<div class="col-sm-6">
    <label for="file-{{ i }}-{{ j }}">{{ texts['licences.attestations'].file }}</label>
    <div class="form-group mb-1" id="attestation-file-{{ i }}-{{ j }}">
	<input type="file" name="licences__file_{{ i }}_{{ j }}" class="form-control" id="file-{{ i }}-{{ j }}">
    </div>
    <div class="col-sm-2">
        <button type="submit" id="replace-file_{{ i }}_{{ j }}" class="btn btn-success">{{ texts['action.replace'] }}</button>
    </div>
</div>

<div class="form-group col-sm-6">
    <label for="dp_expert-expiry-{{ i }}-{{ j }}">{{ texts['licences.attestations'].expiry_date }}</label>
    <div class="input-group">
	<input type="text" class="form-control date-picker" id="dp_expiry-date-{{ i }}-{{ j }}" autocomplete="off" aria-describedby="basic-addon1">
	<div class="input-group-append">
	    <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
	</div>
    </div>
    <div class="">
        {% if attestation.file.filename|length %}
            <button type="button" id="new-attestation-{{ i }}-{{ j }}" class="btn btn-success">
                <a target="_blank" href="{{ attestation.file.path }}">{{ texts['action.download_attestation'] }} : {{ attestation.file.filename}}</a>
            </button>
        {% endif %}
    </div>
    <input type="hidden" name="licences[{{ i }}][attestations][{{ j }}][expiry_date]" id="expiry-date-{{ i }}-{{ j }}" value="{{ attestation.expiry_date }}">

    {% if attestation.expiry_date|length and ("now"|date_modify("+1 year")|date('Y-m-d') > attestation.expiry_date|date('Y-m-d')) %}
        <p>Alerte: Pensez à renouveler votre attestation.</p>
    {% endif %}
</div>

<input type="hidden" name="licences[{{ i }}][attestations][{{ j }}][_id]" value="{{ attestation.id }}">

{% set lastIndex  = (attestation.languages|length > 0) ? attestation.languages|length - 1 : 0 %}
<div class="form-group col-sm-12 border-bottom" id="language-container-{{ i }}-{{ j }}" data-last-index="{{ lastIndex }}">
    {% if attestation.languages|length > 0 %}
	{% for k, language in attestation.languages %}
	    <div class="row language-row" id="language-{{ i }}-{{ j }}-{{ k }}">
		{% partial '@licences/update-language' k=k language=language %}
	    </div> <!-- language row -->
	{% endfor %}
    {% else %}
	{% for k in 0..0 %}
	    <div class="row language-row" id="language-{{ i }}-{{ j }}-{{ k }}">
		{% partial '@licences/register-language' k=k %}
	    </div> <!-- language row -->
	{% endfor %}
    {% endif %}
</div> <!-- language container -->

<div class="form-group col-sm-12">
    <div class="row">
        {% if (j + 1) == licence.attestations|length %}
	<div class="form-group col-sm-6">
	    <button type="button" data-request="onAddItem" data-request-data="_licence_index: {{ i }}, _item_type: 'attestation', _item_context: 'update'" 
		    data-request-success="$.fn.initNewItem(this)" class="btn btn-info" id="add-attestation-{{ i }}-{{ j }}">{{ texts['action.new_attestation'] }}</button>
	</div>
        {% endif %}

	{% if j > 0 %}
	{% set attestationId = (attestation.id) ? attestation.id : '\'\'' %}
	    <div class="form-group col-sm-6">
		<button type="button" data-request="onDeleteItem" data-request-data="_licence_index: {{ i }}, _attestation_index: {{ j }}, _item_type: 'attestation', _item_id: {{ attestationId }}"
			data-request-success="$.fn.deleteItem(this);" data-request-confirm="{{ texts['message.delete_confirmation'] }}"
			class="btn btn-danger float-right" id="delete-attestation-{{ i }}-{{ j }}">{{ texts['action.delete_attestation'] }}</button>
	    </div>
	{% endif %}
    </div>
</div>
