<div class="form-group col-sm-6">
    <label for="licence-type-{{ i }}">{{ texts['licences.type'] }}</label>
    <select name="licences[{{ i }}][type]" class="form-control" id="licence-type-{{ i }}">
	<option value="">{{ texts['action.select'] }}</option>
	{% for value, text in licenceTypes %}
	    <option value="{{ value }}" {{ (licence.type == value) ? 'selected' : '' }}>{{ text }}</option>
	{% endfor %}
    </select>
</div>

<div class="form-group col-sm-6">
    <label for="since-{{ i }}">{{ texts['licences.since'] }}</label>
    <select name="licences[{{ i }}][since]" class="form-control" id="since-{{ i }}">
	<option value="">{{ texts['action.select'] }}</option>
	{% for year in years %}
	    <option value="{{ year }}" {{ (licence.since == year) ? 'selected' : '' }}>{{ year }}</option>
	{% endfor %}
    </select>
</div>

<div class="form-group col-sm-6">
    <label for="appeal-court-{{ i }}">{{ texts['licences.appeal_court_id'] }}</label>
    <select name="licences[{{ i }}][appeal_court_id]" class="form-control" id="appeal-court-{{ i }}">
	<option value="">{{ texts['action.select'] }}</option>
	{% for value, text in appealCourts %}
	    <option value="{{ value }}" {{ (licence.appeal_court_id == value) ? 'selected' : '' }}>{{ text }}</option>
	{% endfor %}
    </select>
</div>

<div class="form-group col-sm-6">
    <label for="court-{{ i }}">{{ texts['licences.court_id'] }}</label>
    <select name="licences[{{ i }}][court_id]" class="form-control" id="court-{{ i }}">
	<option value="">{{ texts['action.select'] }}</option>
	{% for value, text in courts %}
	    <option value="{{ value }}" {{ (licence.court_id == value) ? 'selected' : '' }}>{{ text }}</option>
	{% endfor %}
    </select>
</div>

<input type="hidden" name="licences[{{ i }}][_id]" value="{{ licence.id }}">

{% set lastIndex  = (licence.attestations|length > 0) ? licence.attestations|length - 1 : 0 %}
<div class="col-sm-12" id="attestation-container-{{ i }}" data-last-index="{{ lastIndex }}">
    {% if licence.attestations|length > 0 %}
	{% for j, attestation in licence.attestations %}
	    <div class="row attestation-row" id="attestation-{{ i }}-{{ j }}">
		{% partial '@licences/update-attestation' i=i j=j attestation=attestation %}
	    </div> <!-- attestation row -->
	{% endfor %}
    {% else %}
	{% for j in 0..0 %}
	    <div class="row attestation-row" id="attestation-{{ i }}-{{ j }}">
		{% partial '@licences/register-attestation' i=i j=j %}
	    </div> <!-- attestation row -->
	{% endfor %}
    {% endif %}
</div> <!-- attestation container -->

<div class="form-group col-sm-12">
    <div class="row">
	<div class="form-group col-sm-6">
	    <button type="button" data-request="onAddItem" data-request-data="_licence_index: {{ i }}, _item_type: 'licence', _item_context: 'update'"
		    data-request-success="$.fn.initNewItem(this)" class="btn btn-info" id="add-licence-{{ i }}">{{ texts['action.new_licence'] }}</button>
	</div>

	{% if i > 0 %}
	{% set licenceId = (licence.id) ? licence.id : '\'\'' %}
	    <div class="form-group col-sm-6">
	      <button type="button" data-request="onDeleteItem" data-request-data="_licence_index: {{ i }}, _item_type: 'licence', _item_id: {{ licenceId }}"
			data-request-success="$.fn.deleteItem(this);" data-request-confirm="Are you sure ?"
			class="btn btn-danger float-right" id="delete-licence-{{ i }}">{{ texts['action.delete_licence'] }}</button>
	    </div>
	{% endif %}
    </div>
</div>
