<label class="col-sm-12 mb-0" for="file-{{ i }}-{{ j }}">Attestation{{ sharedFields.attestation }}</label>
<div class="col-sm-12" id="new-attestation">
    <a target="_blank" href="{{ attestation.file.path }}">{{ attestation.file.filename}}</a>
</div>
<p class="col-sm-12 mb-1"><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</small></p>
<div class="form-group col-sm-12">
    <input type="file" name="file_{{ i }}_{{ j }}" class="form-control" id="file-{{ i }}-{{ j }}">
</div>

<div class="form-group col-sm-6">
    <label for="dp_expert-expiry-{{ i }}-{{ j }}">Expiry Date</label>
    <div class="input-group">
	<input type="text" class="form-control date-picker" id="dp_expiry-date-{{ i }}-{{ j }}" autocomplete="off" aria-describedby="basic-addon1">
	<div class="input-group-append">
	    <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
	</div>
    </div>
    <input type="hidden" name="licences[{{ i }}][attestations][{{ j }}][expiry_date]" id="expiry-date-{{ i }}-{{ j }}" value="{{ attestation.expiry_date }}">
</div>

<input type="hidden" name="licences[{{ i }}][attestations][{{ j }}][_id]" value="{{ attestation.id }}">

{% set lastIndex  = (attestation.languages|length > 0) ? attestation.languages|length - 1 : 0 %}
<div class="form-group col-sm-12 border-bottom" id="language-container-{{ i }}-{{ j }}" data-last-index="{{ lastIndex }}">
    {% if attestation.languages|length > 0 %}
	{% for k, language in attestation.languages %}
	    <div class="row language-row" id="language-{{ i }}-{{ j }}-{{ k }}">
		{% partial '@licences/update-language' k=k language=language %}
	    </div> <!-- language row -->
	{% endfor %}
    {% else %}
	{% for k in 0..0 %}
	    <div class="row language-row" id="language-{{ i }}-{{ j }}-{{ k }}">
		{% partial '@licences/register-language' k=k %}
	    </div> <!-- language row -->
	{% endfor %}
    {% endif %}

    <div class="row mt-3">
	<div class="form-group col-sm-12">
	    <button type="button" data-request-data="_licence_index: {{ i }}, _attestation_index: {{ j }}, _item_type: 'language', _item_context: 'update'" 
		    data-request="onAddItem" data-request-success="$.fn.initNewItem(this)" class="btn btn-info float-right mb-3" id="add-language-{{ i }}-{{ j }}">Add Language</button>
	</div>
    </div>
</div> <!-- language container -->

<div class="form-group col-sm-12">
    <div class="row">
	<div class="form-group col-sm-6">
	    <button type="button" data-request="onAddItem" data-request-data="_licence_index: {{ i }}, _item_type: 'attestation', _item_context: 'update'" 
		    data-request-success="$.fn.initNewItem(this)" class="btn btn-info" id="add-attestation-{{ i }}-{{ j }}">New Attestation</button>
	</div>

	{% if j > 0 %}
	    <div class="form-group col-sm-6">
		<button type="button" data-request="onDeleteItem" data-request-data="_licence_index: {{ i }}, _attestation_index: {{ j }}, _item_type: 'attestation', _item_id: ''"
			data-request-success="$.fn.deleteItem(this);" data-request-confirm="Are you sure ?"
			class="btn btn-danger float-right" id="delete-attestation-{{ i }}-{{ j }}">Delete Attestation</button>
	    </div>
	{% endif %}
    </div>
</div>
