<div class="form-group">
  <label for="inputAppealCourt">{{ sharedFields.appeal_court }}</label>
  <select name="appeal_court" class="form-control" id="inputAppealCourt">
    <option value="">- Select -</option>
    {% for code, appealCourt in sharedFields.appeal_court_options %}
      <option value="{{ code }}">{{ appealCourt }}</option>
    {% endfor %}
  </select>
</div>

    {% for id, name in sharedCategories %}
      <li>{{ name }}</li>
    {% endfor %}
<div class="form-group">
  <label for="inputAttestation">{{ sharedFields.attestation }}</label>
  <input type="file" name="attestation" class="form-control" id="inputAttestation">
</div>

<input type="hidden" name="_upload" value="1">
<input type="hidden" name="_context" value="membership">
