<div class="row">
    <div class="form-group col-sm-6">
	<label for="inputProStatus">{{ hostedFields.pro_status }}</label>
	<select name="membership[pro_status]" class="form-control custom-select" id="inputProStatus">
	    <option value="">{{ texts['action.select'] }}</option>
	    {% for value, name in hostedFields.pro_status_options %}
		<option value="{{ value }}">{{ hostedFields[value] }}</option>
	    {% endfor %}
	</select>
    </div>

    <div class="form-group col-sm-6">
        <label for="inputSince">{{ hostedFields.since }}</label>
        <select name="membership[since]" class="form-control" id="inputSince">
	    <option value="">{{ texts['action.select'] }}</option>
	    {% for year in years %}
		<option value="{{ year }}">{{ year }}</option>
	    {% endfor %}
        </select>
    </div>
</div>

<div class="form-group">
    <label for="inputProStatusInfo">{{ hostedFields.pro_status_info}}</label>
    <input type="text" name="membership[pro_status_info]" class="form-control" id="inputProStatusInfo">
</div>

<div class="row">
    <div class="form-group col-sm-6">
	<label for="inputSiretNumber">{{ hostedFields.siret_number }}</label>
	<input type="text" name="membership[siret_number]" class="form-control" id="inputSiretNumber">
    </div>

    <div class="form-group col-sm-6">
	<label for="inputNafCode">{{ hostedFields.naf_code }}</label>
	<input type="text" name="membership[naf_code]" class="form-control" id="inputNafCode">
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
	<label for="inputAttestation">{{ hostedFields.attestation }}</label>
	<input type="file" name="membership__attestation" class="form-control" id="inputAttestation">
    </div>
</div>

{% put scripts %}
    <script type="text/javascript" src="plugins/codalia/membership/assets/js/member-space.js"></script>
{% endput %}

