<div>LICENCES</div>
<hr class="my-4" />

<div class="checkbox custom-checkbox">
    <input name="licences[1][type]" value="expert" type="checkbox" id="expert" {{ (licenseExpert) ? 'checked' : '' }} />
    <label for="expert">Expert</label>
</div>

<div class="" id="expert-info">
  <div class="row">
      <div class="form-group col-sm-6">
	<label for="inputAppealCourt">{{ sharedFields.appeal_court }}</label>
	<select name="licences[1][appeal_court_id]" class="form-control" id="inputAppealCourt">
	  <option value="">- Select -</option>
	  {% for id, name in appealCourts %}
	    <option value="{{ id }}" {{ (licenseExpert.appeal_court_id == id) ? 'selected' : '' }}>{{ name }}</option>
	  {% endfor %}
	</select>
      </div>

      <div class="form-group col-sm-6">
	<label for="inputExpertSince">Since</label>
	<input type="text" name="licences[1][since]" class="form-control" id="inputExpertSince" value="{{ licenseExpert.since }}">
      </div>
  </div>

 {% for i in 0..4 %}
    <div class="row">
	<div class="form-group col-sm-6">
	  <label for="inputExpertLanguage{{ i }}">Language {{ i + 1 }}</label>
	  <select name="licences[1][languages][{{ i }}][alpha_2]" class="form-control" id="inputExpertLanguage{{ i }}">
	    <option value="">- Select -</option>
	    {% for alpha_2 in languages %}
	    <option value="{{ alpha_2 }}" {{ (licenseExpert.languages[i] and licenseExpert.languages[i].alpha_2 == alpha_2) ? 'selected' : '' }}>{{ alpha_2 }}</option>
	    {% endfor %}
	  </select>
	</div>

	<div class="form-group col-sm-3 checkbox custom-checkbox">
	  <label for="expert-skill-lang-interpreter-{{ i }}">Interpreter</label>
	  <input type="checkbox" name="licences[1][languages][{{ i }}][interpreter]" value="1"
		 id="expert-skill-lang-interpreter-{{ i }}" {{ (licenseExpert.languages[i].interpreter) ? 'checked' : '' }} />
	</div>

	<div class="form-group col-sm-3 checkbox custom-checkbox">
	  <label for="expert-skill-lang-translator-{{ i }}">Translator</label>
	  <input type="checkbox" name="licences[1][languages][{{ i }}][translator]" value="1"
		 id="expert-skill-lang-translator-{{ i }}" {{ (licenseExpert.languages[i].translator) ? 'checked' : '' }} />
	</div>

	<input type="hidden" name="licences[1][languages][{{ i }}][ordering]" value="{{ i + 1 }}" id="expert-skill-lang-ordering-{{ i }}" />
    </div>
  {% endfor %}

  <div class="form-group">
    <label for="inputExpertAttestation">{{ sharedFields.attestation }}</label>
    <input type="file" name="expert_attestation" class="form-control" id="inputExpertAttestation">
  </div>
</div>

<hr class="my-4" />
	   
<div class="checkbox custom-checkbox">
    <input name="licences[2][type]" value="ceseda" type="checkbox" id="ceseda" {{ (licenseCeseda) ? 'checked' : '' }} />
    <label for="ceseda">CESEDA</label>
</div>

<div class="" id="ceseda-info">
  <div class="row">
      <div class="form-group col-sm-6">
	<label for="inputCourt">Court</label>
	<input type="text" name="licences[2][court]" class="form-control" id="inputCourt" value="{{ licenseCeseda.court }}">
      </div>

      <div class="form-group col-sm-6">
	<label for="inputCesedaSince">Since</label>
	<input type="text" name="licences[2][since]" class="form-control" id="inputCesedaSince" value="{{ licenseCeseda.since }}">
      </div>
  </div>

 {% for i in 0..4 %}
    <div class="row">
	<div class="form-group col-sm-6">
	  <label for="inputCesedaLanguage{{ i }}">Language {{ i + 1 }}</label>
	  <select name="licences[2][languages][{{ i }}][alpha_2]" class="form-control" id="inputCesedaLanguage{{ i }}">
	    <option value="">- Select -</option>
	    {% for alpha_2 in languages %}
	      <option value="{{ alpha_2 }}" {{ (licenseCeseda.languages[i] and licenseCeseda.languages[i].alpha_2 == alpha_2) ? 'selected' : '' }}>{{ alpha_2 }}</option>
	    {% endfor %}
	  </select>
	</div>
	<input type="hidden" name="licences[2][languages][{{ i }}][interpreter]" value="1" />
	<input type="hidden" name="licences[2][languages][{{ i }}][translator]" value="1" />
	<input type="hidden" name="licences[2][languages][{{ i }}][ordering]" value="{{ i + 1 }}" id="ceseda-skill-lang-ordering-{{ i }}" />
    </div>
  {% endfor %}

  <div class="form-group">
    <label for="inputCesedaAttestation">{{ sharedFields.attestation }}</label>
    <input type="file" name="ceseda_attestation" class="form-control" id="inputCesedaAttestation">
  </div>
</div>
